.App {
  text-align: center;
  background-color: #c2907e;
}

html {
  background-color: #c2907e;
}

.font-link {
  font-family: "Merriweather";
}

.main-container {
  background-color: #c2907e;
}

a {
  color: white !important;
}

a:hover {
  color: rgb(140, 78, 45) !important;
}

.home-link {
  font-size: 2rem;
}

.navigation-container {
  background-color: #c2907eb3;
}

.footer {
  text-align: center;
}

.error-page {
  text-align: center;
}

.errorWoman {
  border-radius: 50px;
}
