.App {
  text-align: center;
}

.font-link {
  font-family: "Merriweather";
}

.main-container {
  background-color: #c2907e;
}

a {
  color: white !important;
}

a:hover {
  color: rgb(140, 78, 45) !important;
}

.home-link {
  font-size: 2rem;
}
